<meta charset="UTF-8">
<style>
    /* body {
        background-color: linen;
    } */
    p {
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;
    }
</style>
<p>
    Спасибо!</br>
    Тебя тоже <b>с праздником!</b>❤️❤️❤️
</p>